<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KonnectSphere</title>
    <!-- Favicon -->
    <link href="../public/img/logoksphere.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        rel="stylesheet">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
        rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../public/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../public/lib/owlcarousel/assets/owl.carousel.min.css"
        rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <div class="container-fluid position-relative p-0" id="home">
        <nav
            class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0">KonnectSphere</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="/"
                        class="nav-item nav-link active">Home</a>
                    <a href="/about"
                        class="nav-item nav-link">About us</a>
                    
                    <a href="/contact"
                        class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid bg-primary hero-header">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-8 text-center text-lg-start"
                        style="margin-top: 50px ;">
                        <h1
                            class="text-white mb-4 animated slideInDown">KonnectSphere:
                            The Powerful Platform That Connects Brands &
                            Creators. Influence Together.</h1>
                        <p
                            class="text-white pb-3 animated slideInDown"
                            style="font-size: large;">Struggling
                            with influencer marketing? KonnectSphere
                            connects brands with perfect influencers,
                            simplifies campaigns, and empowers creators.
                            It's win-win for all! Join the revolution in
                            influencer marketing today.</p>
                    </div>
                    <div
                        class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="owl-carousel screenshot-carousel">
                            <img class="img-fluid"
                                src="../public/img/design.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Navbar & Hero End -->


        <!-- Features Start -->
        <div class="container-xxl py-5" id="feature">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">KonnectSphere Features</h5>
                    <h1 class="mb-5">Awesome Features</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-eye text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Get discovered</h5>
                            <p class="m-0">KonnectSphere fosters connections. Brands discover talented creators, and creators connect with brands that align with their passions.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-layer-group text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Easy findings</h5>
                            <p class="m-0">Stop searching, start connecting. KonnectSphere makes it easy for brands to find the perfect influencers and for creators to get discovered quickly.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-edit text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Content management</h5>
                            <p class="m-0">KonnectSphere provides built-in collaboration tools, making campaign management a breeze.  Edit briefs together, share feedback seamlessly, and approve content within the platform.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-shield-alt text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Collaborate with Confidence</h5>
                            <p class="m-0">KonnectSphere prioritizes security with features like encrypted messaging, verified profiles, and secure process.  Enjoy a safe and transparent platform for your influencer marketing needs.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-cloud text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Work from anywhere, with ease</h5>
                            <p class="m-0">Manage your influencer marketing campaigns and access your data anytime, anywhere, from any device with an internet connection.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-mobile-alt text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Stay informed</h5>
                            <p class="m-0">Receive real-time campaign updates and notifications on your emails, ensuring you never miss a beat.

                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->


        <!-- Process Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">Ready to Join the KonnectSphere Community?
                        </h5>
                    <h1 class="mb-5">3 Easy Steps</h1>
                </div>
                <div class="row gy-5 gx-4 justify-content-center">
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-cog fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Completion of the form</h5>
                            <p class="mb-0">You're already on the right track! Filling out the simple form in the contacts section is the first step to unlocking the power of KonnectSphere.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-address-card fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Sit Back & Relax</h5>
                            <p class="mb-0">Once you submit your details, we'll take care of the rest. Our team will review your information and reach out to you shortly.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-check fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Connect & Grow</h5>
                            <p class="mb-0">Get ready to experience the benefits of KonnectSphere! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Process End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5" id="review">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">Influencers</h5>
                    <h1 class="mb-5">A Glimpse of Influencers with Us!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Disha Vipani.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Disha Vipani</h3>
                                <p class="mb-2">Food Blogger</p>
                                <p class="mb-0">Partners with premier culinary brands, delivering gourmet experiences and exquisite flavors to her discerning audience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Food Mine.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Food Mine</h3>
                                <p class="mb-2">Food Influencer</p>
                                <p class="mb-0">Embarks on delicious journeys with renowned food brands, serving up mouthwatering recipes and culinary adventures to enthusiastic followers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Kavy Thakkar.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Kavy Thakkar</h3>
                                <p class="mb-2">Lifestyle Influencer.</p>
                                <p class="mb-0">Captivates audiences with his adventures in travel, food, culture, and events, sharing the best the world has to offer</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Mayank Kamati.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Mayank Kamati</h3>
                                <p class="mb-2">Food Influencer</p>
                                <p class="mb-0">Shares delicious finds and foodie adventures, turning every meal into a delightful journey.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Mitesh Solanki.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Mitesh Solanki</h3>
                                <p class="mb-2">Lifestyle Influencer</p>
                                <p class="mb-0">Blends gourmet bites, stylish trends, and unbeatable offers, creating a vibrant lifestyle that everyone loves to follow.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Rakesh Purohit.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Rakesh Purohit</h3>
                                <p class="mb-2">Lifestyle Influencer</p>
                                <p class="mb-0">Uncovers delicious foods and stunning places, turning every adventure into a delightful experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <img class="img-fluid bg-white rounded p-2 shadow" src="../public/img/Unique In Ahmedabad.png" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="text-center mt-3">
                                <h3 class="mb-2">Unique In Ahmedabad</h3>
                                <p class="mb-2">Lifestyle Influencer</p>
                                <p class="mb-0">Navigates through vibrant cityscapes and discovers the heart of local businesses, bringing you the best stories from every corner.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item rounded p-4 special-card">
                        <div class="d-flex flex-column align-items-center mb-4">
                            <div class="special-card-content">
                                <h5 class="mb-2">More Influencers Await!</h5>
                                <p class="mb-4">We have a vast network of influencers ready to collaborate. Join us to access our full range of influencers and enhance your brand's reach.</p>
                                <a href="/contact" class="btn btn-primary special-btn">Join Now</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- FAQ Start -->
        <div class="container-xxl py-5" id="faq">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">FAQs</h5>
                    <h1 class="mb-5">Frequently Asked Questions</h1>
                </div>

                <div class="accordion wow fadeInUp" data-wow-delay="0.3s" id="faqAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                What is KonnectSphere?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p><strong>KonnectSphere</strong> is a platform designed to bridge the gap between brands and social media influencers. We connect businesses with the perfect creators who can reach their target audience authentically. Think of us as a matchmaker for brands and influencers, ensuring both sides find the ideal partner for successful influencer marketing campaigns.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                How can KonnectSphere benefit me as a brand?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>KonnectSphere makes influencer marketing easier and more effective for your brand. Here's how:</p>
                                <ul>
                                    <li><strong>Find the perfect fit:</strong> Our platform uses smart filters to connect you with influencers whose audience aligns perfectly with your target market.</li>
                                    <li><strong>Streamlined campaigns:</strong> Manage everything from finding influencers to tracking results – all within one place!</li>
                                    <li><strong>Measure success:</strong> Gain valuable insights into your campaign performance to optimize for future success.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                How can KonnectSphere benefit me as an influencer?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>KonnectSphere empowers you to connect with brands seeking collaborations that match your content niche and audience. Here are some benefits:</p>
                                <ul>
                                    <li><strong>Get discovered:</strong> Brands actively looking for influencer partnerships can find you on our platform.</li>
                                    <li><strong>Grow your audience:</strong> Collaborate with brands and reach a wider audience, boosting your follower base.</li>
                                    <li><strong>Monetize your content:</strong> KonnectSphere facilitates partnerships that allow you to earn money from your content creation skills.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQ End -->
    
        <!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn"
            data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-8 col-lg-6">
                        <h4 class="text-white mb-4">Contact details</h4>
                        <p><i class="fa fa-phone-alt me-3"></i>9099368070 -
                            Krish Thakkar</p>
                        <p><i class="fa fa-phone-alt me-3"></i>9510219506 -
                            Mohit Pandya</p>
                        <p><i class="fa fa-phone-alt me-3"></i>7600852311 -
                            Darsh Shah</p>
                            <p><i class="fa fa-phone-alt me-3"></i>8866143544 -
                                Devda Deval</p>
                            <p><i class="fa fa-phone-alt me-3"></i>9974806506 -
                                Monisha Charnia</p>
                        <p><i class="fa fa-phone-alt me-3"></i>8866471171 -
                            Princi Rabadiya</p>
                        <p><i class="fa fa-envelope me-3"></i>konnectsphere@gmail.com</p>
                    </div>

                    <div class="col-md-8 col-lg-6">
                        <h4 class="text-white mb-4 mt-3">Popular Link</h4>
                        <h4 style="color:white" class="mt-3"> <a
                                class="btn btn-outline-light btn-social text-center"
                                href="https://www.instagram.com/konnect.sphere/"
                                style="display: inline; font-size: 25px; padding-left: 0.5rem; padding-right: 0;"><i
                                    class="fab fa-instagram text-center"
                                    ></i> </a> Instgram </h4>
                        <h4 style="color:white" class="mt-5"> <a
                                class="btn btn-outline-light btn-social "
                                href="https://wa.me/9099368070"
                                style="display: inline; font-size: 25px; padding-left: 0.5rem; padding-right: 0;"><i
                                    class="fab fa-whatsapp"
                                    style="text-align: center;"></i> </a> Whatsapp </h4>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div
                            class="col-md-12 text-center text-md-center mb-3 mb-md-0">
                            &copy; <a class="border-bottom"
                                href="contact.html">KONNECTSPHERE</a>, All Right
                            Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/lib/wow/wow.min.js"></script>
    <script src="../public/lib/easing/easing.min.js"></script>
    <script src="../public/lib/waypoints/waypoints.min.js"></script>
    <script src="../public/lib/counterup/counterup.min.js"></script>
    <script src="../public/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../public/js/main.js"></script>
</body>
</html>